---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<p>
  Found a problem? <a href="{{site.github.repository_url}}/tree/master/{{page.path}}">Edit this post</a>
</p>
 
<!-- Tag list -->
{% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
{% include tags_list.html tags=tag_list %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="google-ads" style="text-align: center; margin-top:40px;">
{% include advertisements.html %}
</div>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
{% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
{% include post_nav.html %}
{% endif %}
